@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro:400,700|Source+Serif+Pro:400,400i,700");

$black: #000;
$white: #fff;

*:focus {
  outline: none;
}

body {
  background: $black;
  color: $white;
  font: 400 1rem/1 "Source Sans Pro", sans-serif;
  overflow-y: hidden;

  main {
    display: grid;

    section {
      height: 50vh;
      width: 100%;

      #editor, #preview {
        height: calc(100% - 2rem);
        overflow-y: scroll;
        width: calc(100% - 2rem);
      }

      #editor {
        border: 0;
        font-family: "Source Code Pro", monospace;
        line-height: 1.5;
        padding: 1rem;
        resize: none;

        &::placeholder {
          color: rgba($black, 0.75);
        }
      }

      #preview {
        padding: 1rem;

        h1, h2 {
          text-transform: uppercase;
        }

        h1, strong {
          font-weight: 700;
        }

        h1 {
          font-size: 1.5rem;
          margin: 0;
        }

        h2, p, li, pre {
          line-height: 1.5;
        }

        h2 {
          color: rgba($white, 0.75);
          font-size: 0.85rem;
          font-weight: 400;
          margin: 0;
        }

        p, li {
          font-family: "Source Serif Pro", serif;
        }

        p {
          margin: 1rem 0;

          a {
            color: #0d47a1;
            text-decoration: none;
            transition: color 0.25s linear;

            &:visited {
              color: #4a148c;
            }

            &:active {
              color: #b71c1c;
            }
          }

          code {
            font-family: "Source Code Pro", monospace;
            font-size: 100%;
          }

          em {
            font-style: italic;
          }
        }

        blockquote, pre {
          margin: 1rem;
        }

        ul {
          padding: 0 0 0 1rem;

          li {
            list-style: square;
          }
        }

        pre {
          code {
            font-family: "Source Code Pro", monospace;
          }
        }
      }
    }
  }

  footer {
    margin: 0 auto;
    text-align: center;

    p {
      line-height: 1.5;
      margin: 0;
      padding: 1rem;
      text-transform: uppercase;

      small {
        font-size: 0.75rem;
      }
    }
  }

  .hide {
    display: none;
  }
}

@media(min-width: 768px) {
  body {
    main {
      grid-template-columns: 1fr 1fr;

      section {
        height: 100vh;
        width: 50vw;
      }
    }
  }
}
